/*Body*/

body {
font-family: "Roboto", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
background-color: #FFFFFF;
}

.title2 {
font-size: 36px;
font-weight: 700;
line-height: 1.11px;
letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
color: #2E2F42;
}

.title3 {
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2E2F42;
}

.list{
list-style-type: none;
}


/*Header*/

.logo {
font-family: "Raleway", sans-serif;
font-size: 18px;
font-weight: 700;
line-height: 1.17;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
text-decoration: none;
color: #4D5AE5;
}
.logo .accent {
color: #2E2F42;
}
.page-nav{
list-style-type: none;
}

.page-nav .link{
color: #2E2F42;
text-decoration: none;
}
.page-nav .link:hover,
.page-nav .link:focus {
color: #404BBF;
}
.list-contacts{
font-style: normal
}
.list-contacts .link{
font-weight: 500;
font-style: normal;
color: #434455;
text-decoration: none;
}
.list-contacts .link:hover,
.list-contacts .link:focus {
color: #404BBF;
}

/*Solutions*/

.section-solutions {
background-color: #2E2F42;
}

.page-title {
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #FFFFFF;
}

.button {
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: center;
cursor: pointer;
color: #FFFFFF;
background-color: #4D5AE5;
}
.button:hover,
.button:focus {
background-color: #404BBF;
}

/*Advantages*/


.body-text{
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: #434455;
}

/*team*/

.section-team {
background-color: #F4F4FD;
}
.section-team .list-team {
background-color: #FFFFFF;
}

/*portfolio*/

/*Footer*/

.page-footer {
    background-color: #2E2F42;
}
.accent-footer {
    color: #F4F4FD;
}
.text-footer{
    color: #F4F4FD;
}